/* Estilos de tu proyecto
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
colores es: #2c3e50, #18bc9c,
  #212529.*/
body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif, 'Lato', sans-serif;
}
/* header */
nav {
  background-color: #2c3e50;
  padding: 0px;
  margin: 0px;
  height: 110px;
}

nav h3 {
  width: 810px;
  font-weight: 900;
  font-size: 30px;
  padding-left: 120px;
  margin: 0px;
  transform: translateY(50%);
  letter-spacing: 1px;
  text-shadow: 1px 0.5px white;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav li {
  list-style: none;
  display: inline-block;
  transform: translateY(50%);
}

nav a {
  text-decoration: none;
  color: white;
}

.text-uppercase {
  text-transform: uppercase;
}

nav p {
  font-size: 15px;
  padding-right: 15px;
  margin: 0px;
  transform: translateY(100%);
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 1px 0.5px white;
}

nav  li a p:hover {
  color: #18bc9c;
  text-shadow: 1px 0.5px #18bc9c;
}
/* Primera parte del body*/
.first {
  background-color: #18bc9c;
  text-align: center;
  height: 685px;
  width: 100%;
}

h1 {
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 2px 0px white;
  color: white;
  font-size: 4.75em;
  transform: translateY(75%);
}

.first img {
  transform: translateY(40%);
}
/* Star */
.first hr {
  max-width: 250px;
  margin: 120px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
  border-color: #fff;

}

.first i {
  color: white;
  font-size: 32px;
  position: relative;
  bottom: 48px;
  background-color: #18bc9c;
  padding: 0 10px;
}
/* Fin de Star */
.first p {
  color: white;
  font-size: 25px;
  transform: translateY(-100%);
  margin: 0px;
  font-weight: 600;
}
/* Segunda parte del body*/
.second {
  text-align: center;
}

.second-box {
  overflow-x: auto;
  transform: translateX(10%);
}

.second-box div {
  padding: 0 20px 20px 10px;
  float: left;
}

.second-box img {
  width: 350px;
}
/* Star */
.second hr {
  max-width: 250px;
  margin: 100px auto 0px;
  padding-top: 10;
  text-align: center;
  border: none;
  border-top: solid 5px;
  border-color: #2c3e50;
}

.second i {
  color: #2c3e50;
  font-size: 32px;
  position: relative;
  bottom: 20px;
  background-color: white;
  padding: 0 10px;
}
/* Fin de Star */
.second h2 {
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  transform: translateY(100%);
  padding-top: 20px;
}
/*About*/
.about {
  text-align: center;
  background-color: #18bc9c;
  color: white;
  height: 580px;
}

.about h2 {
  margin: 100px 0px 80px 0px;
  font-size: 3em;
  font-weight: 900;
  transform: translateY(100%);
  padding-top: 30px;
}

.about-box span {
  display: inline-block;
  width: 390px;
  text-align: left;
  padding: 0 30px;
  line-height: 30px;
  font-size: 20px;
}
/* Star */
.about hr {
  max-width: 250px;
  margin: 100px auto 0px;
  padding-top: 10;
  text-align: center;
  border: none;
  border-top: solid 5px;
  border-color: white;
}

.about i {
  color: white;
  font-size: 32px;
  position: relative;
  bottom: 20px;
  background-color: #18bc9c;
  padding: 0 10px;
}
/* Fin de Star */
.about a {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  border: 2px solid white;
  border-radius: 5px;
  height: 40px;
  margin-top: 40px;
  color: white;
  font-size: 18px;
  padding-top: 15px;
}

.about a i {
  font-size: 20px;
  position: relative;
  bottom: 0px;
}
/* Parte contact me*/
.contact-me {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-me h2 {
  font-weight: 900;
  font-size: 3em;
  text-align: center;
}

/* Star */
.contact-me hr {
  max-width: 250px;
  margin: 0px auto 0px;
  padding-top: 10;
  text-align: center;
  border: none;
  border-top: solid 5px;
  border-color: #2c3e50;
}

.contact-me i {
  color: #2c3e50;
  font-size: 32px;
  position: relative;
  bottom: 20px;
  left: 650px;
  background-color: white;
  padding: 0 10px;
}
/* Fin de Star */

.form {
  padding-left: 300px;
  width: 55%;
}

.form-div {
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid #eee;
}

input[type=text] {
    width: 100%;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-size: 25px;
}

.form-message {
  border-bottom: 1px solid #eee;
  padding-top: 40px;
  padding-bottom: 200px;
}

.contact-me a {
  text-decoration: none;
  display: inline-block;
  width: 80px;
  border: 2px solid #18bc9c;
  border-radius: 5px;
  height: 35px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  background-color: #18bc9c;
  text-align: center;
  font-weight: bolder;
}
/* SECCION FOOTER*/
footer {
  width: 100%;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  height: 345px;
}

.footer-box {
  padding-top: 25px;
  overflow: auto;
  transform: translateX(8%);
}

.box {
  float: left;
  width: 28%;
  padding: 0 10px;
  box-sizing: border-box;
}

.box h3 {
  font-size: 27px;
  font-weight: 900;
  text-shadow: 0.5px 0.5px white;
  margin-bottom: 30px;
}

.box p {
  padding: 0;
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
}

.box a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

.box .fa {
  font-size: 22px;
  border: 2px solid white;
  border-radius: 100%;
  height: 25px;
  margin-top: 20px;
  padding: 10px;
  width: 25px;
}

.box span {
  color: #18bc9c;
}

.copyright {
  margin-top: 90px;
}

.copyright p {
  font-size: 14px;
}
