/* Estilos de tu proyecto
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
colores es: #2c3e50, #18bc9c,
  #212529.*/
body {
  margin: 0px;
}

nav {
  background-color: #2c3e50;
  padding: 0px;
  margin: 0px;
  height: 110px;
}

nav h3 {
  width: 810px;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif, 'Lato', sans-serif;
  padding-left: 120px;
  margin: 0px;
  transform: translateY(50%);
  letter-spacing: 1px;
  text-shadow: 1px 0.5px white;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav li {
  list-style: none;
  display: inline-block;
  transform: translateY(50%);
}

nav a {
  text-decoration: none;
  color: white;
}

.text-uppercase {
  text-transform: uppercase;
}

nav p {
  font-size: 15px;
  padding-right: 15px;
  margin: 0px;
  transform: translateY(100%);
  font-family: 'Montserrat', sans-serif, 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 1px 0.5px white;
}

nav  li a p:hover {
  color: #18bc9c;
  text-shadow: 1px 0.5px #18bc9c;
}

.first {
  background-color: #18bc9c;
  text-align: center;
  height: 685px;
}

h1 {
  font-family: 'Montserrat', sans-serif, 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 2px 0px white;
  color: white;
  font-size: 70px;
  transform: translateY(100%);
}

.first img {
  transform: translateY(40%);
}

.first hr {
  max-width: 250px;
  margin: 120px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
  border-color: #fff;

}

.first p {
  color: white;
  font-size: 28px;
  transform: translateY(100%)
}
